{% extends "base.html.twig" %}
    
{% block title 'Agence Lorem Ipsum' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nulla laboriosam iste minus fuga asperiores non omnis tenetur ea a.</p>
    </div>
{% endblock %}